<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input type="text" v-model="message" placeholder="请输入大学" />
			<li v-if="message=='北京大学'">985、211大学</li>
			<li v-if="message=='清华大学'">985、211大学</li>
			<li v-if="message=='复旦大学'">985、211大学</li>
			<li v-if="message=='上海交通大学'">985、211大学</li>
			<li v-if="message=='同济大学'">985、211大学</li>
			<li v-if="message=='广西大学'">211大学</li>
			<li v-if="message=='安徽大学'">211大学</li>
			<li v-if="message=='华南师范大学'">211大学</li>
			<li v-if="message=='福州大学'">211大学</li>
			<li v-if="message=='郑州大学'">211大学</li>
			<li v-if="message=='云南大学'">211大学</li>
			<li v-if="message=='长安大学'">211大学</li>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el:'#app',
				data:{
					message:''
				}
			})
		</script>
	</body>
</html>